.car-main{
	height: 90vh;
}

.carousel .control-dots .dots {
	box-shadow: none;
	height: 20px;
	width: 20px;
}

.slide img {
	height: auto;
	width: 100%;
	aspect-ratio: 16 / 9;
}

.image-wrapper{
	height: 90vh;
}

@media screen and (max-width: 1250px) {
	.car-mobile{
		width: 100%;
	}

	.image-wrapper{
		height: 100%;
	}
}