.Container{
    font-family: 'Montserrat';
    margin-top: 50px;
    padding-top: 100vh;
    
}
.Wrapper{
    display: flex;
    flex-wrap: wrap;
    margin: 20px;    
}
.OneRow{
    flex:1;
    flex-direction: column;
}
.SubSubmitButton{
    border:  2px #efb903;
    background-color: #efb903;
    padding: 5px;
}
.SubInput{
    border: 0;
    border-bottom:2px solid  #efb903;
    text-align: center;
    background-color:#0b0d1b;
    padding: 3px 4px;
}
.TwoRow{
    flex:1;
    flex-direction: column;
}
.ThreeRow{
    flex:1;
    flex-direction: column;
}
.FourRow{
    flex:1;
    flex-direction: column;
}
.FooterList{
    list-style-type: none;
    margin-left: 0;
    padding: 0;
    font-size: 1.3rem;
}

.FooterHeadings{
    margin: 0;
    color: #efb903;
    font-size: 1.5rem;
}
h6{
    margin: 0;
    color: #63B1C5;
    display: inline;
}
.Wrapper2{
    display: flex;
    margin: 20px;  
    flex-wrap:wrap ;   
}

.Logo{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.logoImg{
    height: 100px;
    width: 100px;
}

.social{
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 100px;
}
hr{
    width: 100%;
    margin: 0;
}
.SecondaryHR{
    width: 98%;
    margin: 0 auto;
}
.Copyright{
    color: #8b8a8a;
    text-align: center;
    font-size: 0.5rem;
    margin-top: 20px;
}
@media (max-width: 768px) {
    .SubSubmitButton{
        border:  1px #efb903;
        background-color: #efb903;
        padding: 3px;
    }
    .SubInput{
        border: 0;
        border-bottom:1px solid  #efb903;
        text-align: center;
        background-color:#0b0d1b;
        padding: 2px 2px;
    }
    .RROOWW {
      flex: 100%;
      margin-left: 30px;
    }
    .FooterHeadings{
        font-size: 1rem;
    }
    .FooterList{
        font-size: 0.8rem;
    }
    .social{
        margin-top: 30px;
        justify-content: flex-start;
    }

  }