.nav-main{
	z-index: 10;
	color: azure;
	background-color:transparent;
	height: 10vh;
	width: 100%;
	justify-content: center;
	position: sticky;
	top: 0;
	transition: 0.3s ease-in;
}


.nav-main.active{
	background: rgba(255, 255, 255, 0.211);
	backdrop-filter: blur(20px);
	transition: 0.3s ease-in;
}

.navContent{
	/* display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center; */
	color: white;
	transition: 0.3s ease-in;
}

.navContent.active{
	transition: 0.3s ease-in;
}

.Logo{
	padding: 5px;
	height: 8.5vh;
	aspect-ratio: 1 / 1;
	padding-left: 10px;
	padding-right: 10px;
}

.leftSide{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	float: left;
}

.home{
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 5px;
	font-size: 2.7vh;
	cursor: pointer;
}

.over{
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 5px;
	font-size: 2.7vh;
	cursor: pointer;
}

.collection{
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 5px;
	font-size: 2.7vh;
	cursor: pointer;
}

.about{
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 5px;
	font-size: 2.7vh;
	cursor: pointer;
}