.nav-main{
	color: azure;
	background-color:transparent;
	height: 10vh;
	position: sticky;
	top: 0;
	transition: 0.3s ease-in;
}

.nav-main.active{
	background: white;
	transition: 0.3s ease-in;
}

.Logo{
	padding: 5px;
	height: 8vh;
	aspect-ratio: 1 / 1;
}
